body {
    position: relative;

    margin: 0;
    padding: 0;
  
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    color: #333333;
    text-transform: uppercase;
    
    background-color: #f2f2f2;
  }
a {
    text-decoration: none;
  }
img {
    max-width: 100%;
    height: auto;
  }
.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
    position: absolute;
  
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
  
    white-space: nowrap;
  
    -webkit-clip-path: inset(100%);
  
            clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
.container {
    max-width:1200px;
    margin:0 auto;
    
    background-color: #ffffff;
    -webkit-box-shadow: 0 0 15px 2px #a9a9a9;
            box-shadow: 0 0 15px 2px #a9a9a9;
  }
.main-header {
    max-width: 100%;
    margin: auto;
  }
.main-navigation {
    position: relative;

    line-height: 26px;
    font-weight: bold;
    color: #000000;

    background-color: #ffffff;
  }
.main-header-logo {
    position: absolute;
    top: 0;
    left: 50%;
    z-index: 1;

    width: 138px;
    height: 70px; 
    margin-left:-69px;
  }
.site-navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;

    max-width: 1200px;
    margin:0 auto;
    padding: 0;

    list-style: none;
  }
.site-navigation-item {
    min-width: 73px;
    max-width: 239px;
    padding:15px 73px;
  }
.site-navigation-item:nth-child(2) {
    margin-right:auto; 
  }
.site-navigation-item:nth-child(3) {
    margin-right:18px; 
  }
.site-navigation-item:nth-child(1)
.site-navigation-item:nth-child(2) {
    text-align: start;
}
.site-navigation-item:nth-child(3)
.site-navigation-item:nth-child(4) {
    text-align: end;
}
.site-navigation a {
    color: #000000;
    text-align: center;
    -webkit-transition: all 0.10s linear;
    -o-transition: all 0.10s linear;
    transition: all 0.10s linear;
  }
.site-navigation a:hover,
.site-navigation a:focus {
    color: #81b3d2;
  }
.site-navigation a:active {
    color: rgba(0, 0, 0, 0.3);
  }
.site-navigation-item-current a {
    color: #766357;
  }
.city-view {
    position: relative;

    width: 100%;
    min-height: 508px;
    padding: 0;
    
    background-color: #766357;
    background-image: url("../img/index-sedona.jpg");
    background-position: 0 -56px;
    background-repeat: no-repeat;
  }
.city-view img {
    margin: auto;
    margin-top: 35px;
    padding: 40px;
}
.city-view::before {
    content: "";

    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;

    height:57px ;

    background-image: url("../img/frame.png");
    background-position: 0 0;
    background-repeat: no-repeat;
}
.description {
    min-height: 723px;

    text-align: center;
    line-height: 26px;
    
    background-color:transparent;
  }  
.description-container {
    position: relative;
    left: 0;
    right: 0;
    bottom: 0;

    width: 540px;
    margin: auto; 
    padding: 32px;
  }
.caption-container {
    width: 540px;
    margin: auto; 
    padding: 30px;
}
.description strong {
    display: block;

    margin: 28px 0;

    font-size: 21px;
    font-weight: bold;
    color: #000000;
  }
.features-list,
.guideline-list {  
    margin: 0;
    padding: 0;

    list-style: none; 
  }
.features-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;

    max-width: 1200px;
  }
.feature-item-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;

    max-width: 1200px;
    padding: 0;

    background-color: #81b3d2;
  }
.feature-item.feature-item-large {
    width: 300px;
    min-height: 195px;
    margin: 0;
    padding:30px 50px;

    text-align: center;
    color: #ffffff;
    
    background-color: #81b3d2;
  }
  .feature-item.feature-item-large:nth-of-type(2) {
    width: 320px;
    padding: 30px 40px;
  }
.feature-item-wrapper .img-wrap {
    height:256px ;
    width: 800px;

    overflow: hidden;
  }
.feature-item-large h3 {
    margin-top: 18px;
    margin-bottom: 22px;

    font-size: 21px;
    font-weight: bold;
    color: #ffffff;
    text-align: center;
  }
.guideline-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    
    width:100%;
    min-height:330px;
    margin:0;

    background-color: white;
  }
.guideline-item {
    position: relative;

    width: 33.3333%;
    min-height: 120px;
    padding: 50px;
    padding-top: 135px;
    
    text-align: center;
  }
.guideline-item-housing::before {
    content: "";

    position: absolute;
    top:95px;
    left:50%;

    width: 75px;
    height: 75px;
    margin: -36px;
    
    background-color: white;
    background-image: url("../img/svg/icon-1.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
  }
.guideline-item-food::before {
    content: "";

    position: absolute;
    top:95px;
    left:50%;

    width: 75px;
    height: 75px;
    margin: -35px;
    
    background-color: white;
    background-image: url("../img/svg/icon-3.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
  }
.guideline-item-souvenirs::before {
    content: "";

    position: absolute;
    top:95px;
    left:50%;
    
    width: 75px;
    height: 75px;
    margin: -38px;
    margin-left: -33px;
    
    background-color: white;
    background-image: url("../img/svg/icon-2.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
  }
.guideline-item h4 {
    margin-bottom: 23px;

    font-size: 21px;
    font-weight: bold;
    color: #000000;
  }
.feature-item {
    display: flex;
    flex-direction: column;
    align-items: center;

    text-align: center;

    background-color: #eeeeee;
  } 
.feature-item-small h3 {
    margin-top: 18px;
    margin-bottom: 23px;

    font-size: 21px;
    font-weight: bold;
    color: #000000;
    text-align: center;
  }
.feature-item p {
    margin: 21px 0;
}
.feature-item .number {
    position: relative;

    margin: 0;
}
.feature-item .number::before {
    content:"";

    position: absolute;
    top:50%;
    left: -14px;

    width: 8px;
    height: 1.5px;

    background-color: white;
  }
.feature-item .number::after {
    content:"";

    position: absolute;
    top:50%;
    right: -14px;

    width: 8px;
    height: 1.5px;

    background-color: white;
  }
.feature-item-small .number::before,
.feature-item-small .number::after {
    background-color: #333333;
  }
.features-list-small {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;

    width: 100%;
    min-height: 256px;
    padding: 0;
    
    background-color: #eeeeee;
    list-style: none;
  }
.feature-item-small {   
    width: 33.3333%;
    padding: 30px 60px;
  }
.search {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;

    text-align: center;
  }
.search b {
    display: block;

    margin: 30px 0;

    font-size: 30px;
    font-weight: bold;
    color: #000000;
  }
.search p {
    margin-bottom: 17px;

    line-height: 24px;
}
.button {
    display: inline-block;
    vertical-align: middle;

    border: none;
    padding: 10px 30px;

    font: inherit;
    text-align: center;
    font-weight: bold;
    color: #ffffff;
    text-transform: uppercase;
    -webkit-transition: all 0.10s linear;
    -o-transition: all 0.10s linear;
    transition: all 0.10s linear;
   
    background-color: #81b3d2;
  }
.button:hover,
.button:focus {
    background-color: #669ec0;
  }
.button:active {
    color:rgba(255, 255, 255, 0.3);

    background-color: #5496bd;
  }
.search-button {
    max-width: 576px;
    padding: 30px 140px;

    font-size: 21px;
    line-height: 26px;
    -webkit-transition: all 0.10s linear;
    -o-transition: all 0.10s linear;
    transition: all 0.10s linear;
    
    background-color: #766357;
  }
.search-button:hover,
.search-button:focus {
    background-color: #604e43;
  }
.search-button:active {
    color:rgba(255, 255, 255, 0.3);

    background-color: #503e33;
  }
.map {
    position: relative;

    max-width: 1200px;
    height: 593px;

    overflow: hidden;
  }
.map iframe {
    position: relative;
  }
.map p {
    margin: 0;

    background-color: #857871;
  }
@-webkit-keyframes bounce {
  0% {
    -webkit-transform: translateY(-395px);
            transform: translateY(-395px);
    opacity: 0;
    }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
    }
  }
@keyframes bounce {
  0% {
    -webkit-transform: translateY(-395px);
            transform: translateY(-395px);
    opacity: 0;
    }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
    }
  }
@-webkit-keyframes shake {
  0%,
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    }
  
  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
    }
  
  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
    }
  }
@keyframes shake {
  0%,
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    }
  
  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
    }
  
  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
    }
  }
 
.modal {
    position: absolute;
    top:0;
    left:50%;

    max-width: 568px;
    margin-left: -284px;

    background-color: white;
  }
.js .modal-search {
    visibility: hidden;
    opacity: 0;
  }
.no-js .modal-search {
    visibility: visible;
    opacity: 1;
  }
.js .modal-show {
    -webkit-animation: bounce 0.7s;
            animation: bounce 0.7s;
    visibility: visible;
    opacity: 1;
  }
.js .modal-error {
    -webkit-animation: shake 0.6s;
            animation: shake 0.6s;
  }
.hotel-search {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;

    padding: 56px;
  }
.search-option {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;

    color: #000000;
    line-height: 26px;
    font-weight: bold; 
  }
.search-input {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;

    width: inherit;
    height: 35px;
    border:2px solid #f2f2f2;

    font: inherit;
    color: #000000;
    text-transform: uppercase;
    -webkit-transition: all 0.10s linear;
    -o-transition: all 0.10s linear;
    transition: all 0.10s linear;
    outline: none;

    background-color: #f2f2f2;
  }
.search-input:hover {
    border:2px solid #ebebeb;

    background-color: #ebebeb;
  }
.search-input:focus {
    border: 2px solid #ebebeb;

    background-color: #ffffff;
  }
.search-input:active {
    border:2px solid #ebebeb;
}
.search-option-large {
    width: 460px;
    width: 100%;
    max-height: 40px;
    margin:0;
    margin-bottom: 32px;
  }
.search-option-small {
    min-width: 182px;
    max-height: 40px;
    margin:0;
    margin-bottom: 32px;
  }
.search-option-large input {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 346px;
    padding:10px;
    padding-right:50px;
  }
.search-option-small input {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 115px;
    padding:10px 50px;
  } 
.search-option-large svg {
    position: absolute;
    right: 10px;
    top: 7px;
}
.search-option-large svg path {
    fill: #a9a9a9;
    -webkit-transition: all 0.10s linear;
    -o-transition: all 0.10s linear;
    transition: all 0.10s linear;
  }
.search-option-large input:hover ~ svg path,
.search-option-large input:focus ~ svg path {
    fill: #000000;
}
.search-option-large input:active ~ svg path {
    fill:#81b3d2;
  }
.search-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;

    width: 100%;
  }
 .label-row { 
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
 }
.search-name {
    margin-right: 15px;
  }
.search-option-small:first-of-type .search-name {
    margin-right: 40px;
  }
.number-btn {
    position: absolute;
    top: 0;

    width: 30px;
    height: 100%;
    border:none;

    background-color:inherit;
  }
.number-btn::before {
    content: "";

    position: absolute;
    top: 17px;
    left: 6px;

    width: 11px;
    height: 3px;
    
    background-color: #a9a9a9; 
  }
.number-btn.minus::before {
    left: 13px;
  }
.number-btn.plus::after {
    content: ""; 

    position: absolute;
    top: 13px;
    left: 10px;

    width: 3px;
    height: 11px;
    
    background-color: #a9a9a9;
  }
.number-btn.minus {
    left: 0;
  }
.number-btn.plus {
    right: 0;
  }
.search-option-small .number-btn:hover::before,
.search-option-small .number-btn:focus::before,
.search-option-small .number-btn:hover::after,
.search-option-small .number-btn:focus::after {
    background-color: #000000; 
  }
.search-option-small .number-btn:active::before,
.search-option-small .number-btn:active::after {
    background-color:#81b3d2;
  }
.search-button-submit {
    width: 100%;
    margin-top: 23px;
    padding: 17px;

    line-height: 26px;
    font-size: 21px;  
  }
.main-footer {
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;

    max-width: 1200px;
    padding: 33px 80px;

    color: #000000;
    line-height: 26px;

    background-color:rgba(250, 250,250, 0.9);
  }
.main-footer.index-footer {
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    
    -webkit-box-sizing: border-box;
    
            box-sizing: border-box;
    width: 100%;
    margin: auto;
  }
.footer-visit {
    display: block;

    margin: 0;
    margin-left:52px;

    font-size: 21px;
    text-align: center;
  }
.footer-social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;

    min-width: 150px;
    margin: 0;
    margin-left:-6px ;
    margin-right: -28px;
    padding: 0;

    list-style: none;
    text-align: center;
  }
.social-item {
    margin-left: 6px;
  }
.footer-copyright {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;

    width: 198px;
    margin: 0;
    margin-right: 20px;
  }
.footer-copyright a {
    line-height: 0;
  }
.social-button {  
    display: -webkit-box;  
    display: -ms-flexbox;  
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;

    width: 46px;
    height: 48px;
    padding: 0;

    -webkit-transition: all 0.10s linear;

    -o-transition: all 0.10s linear;

    transition: all 0.10s linear;
  }
.social-icon {
    fill: #ffffff;
    -webkit-transition: all 0.10s linear;
    -o-transition: all 0.10s linear;
    transition: all 0.10s linear;
  }
.social-button:active .social-icon {
    fill: rgba(255, 255, 255, 0.3);
  }
.logo-htmlacademy {
    fill: #231f20;
    -webkit-transition: all 0.10s linear;
    -o-transition: all 0.10s linear;
    transition: all 0.10s linear;
  }
.logo-htmlacademy:hover,
.logo-htmlacademy:focus {
    fill: #81b3d2;
  }
.logo-htmlacademy:active {
    fill: #bdbbbc;
  }
.filters {
    width: 100%;
    max-height: 218px;

    color: #ffffff;
  
    background-color: #766357;
    background-image: url("../img/background-sedona.jpg");
    background-position: top center;
    background-repeat: no-repeat;
  }
.filters-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;

    padding: 28px 73px;
  }
.filters fieldset {
    margin: 0;
    border: none;
    padding: 0;
  }
.filters fieldset:nth-child(1) {
    margin-right:120px;
  }
.filters fieldset:nth-child(2) {
    margin-right: auto;
  }
.filters legend {
    margin-bottom: 20px;
    margin-top: 5px; 

    font-size: 16px;
    font-weight: bold;
  }
.filter-range legend {
    margin-bottom: 9px;
  }
.filters ul {
    margin: 0;
    padding: 0;

    list-style: none;
  }
.filters label {
    cursor: pointer;
  }
.filter-option {
    margin-bottom: 25px;
    margin-top: 5px;
  }
.checkbox-label {
    position: relative;

    padding-left: 40px;
  }
.checkbox-label input[type="checkbox"] + .checkbox-indicator {
    position: absolute;
    top:-5px;
    left:0;

    width: 25px;
    height: 25px;

    background-image: url("../img/svg/checkbox-off.svg");
    background-position:  0 0;
    background-repeat:  no-repeat;
  }
.checkbox-label input[type="checkbox"]:checked + .checkbox-indicator {
    position: absolute;
    top:-5px;
    left:0;

    width: 25px;
    height: 25px;

    background-image: url("../img/svg/checkbox-on.svg");
    background-position:  0 0;
    background-repeat:  no-repeat; 
  }
.checkbox-label input[type="checkbox"]:focus + .checkbox-indicator {
    outline-color: rgb(77, 144, 254);
    outline-offset: -2px;
    outline-style: auto;
    outline-width: 5px;
  }
.checkbox-label input[type="checkbox"]:disabled + .checkbox-indicator {
    position: absolute;
    top:-5px;
    left:0;

    width: 25px;
    height: 25px;

    background-image: url("../img/svg/checkbox-off-disabled.svg");
    background-position:  0 0;
    background-repeat:  no-repeat;
  }
.checkbox-label input[type="checkbox"]:checked:disabled + .checkbox-indicator {
    position: absolute;
    top:-5px;
    left:0;

    width: 25px;
    height: 25px;

    background-image: url("../img/svg/checkbox-on-disabled.svg");
    background-position:  0 0;
    background-repeat:  no-repeat;
  }
.filter-range {
    font-weight: normal;

    background-color:transparent;
  }
.price-controls {
    position: relative;

    height: 34px;
    margin-bottom: 20px;
    border: 2px solid #ffffff;
    border-radius: 2px;

    font-size: 0;
    line-height: normal;
  }
.price-controls::after {
    content: "";

    position: absolute;
    top: 50%;
    left: 50%;

    width: 2px;
    height: 22px;
  
    background: #ffffff;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }  
.price-controls label {
    display: inline-block;
  
    font-size: 14px;
    line-height: 38px;
    vertical-align: top;
  
    cursor: pointer;
  }
.price-controls .min-price {
    width: 90px;
    padding-left: 66px;
  }
.price-controls .max-price {
    width: 90px;
    padding-left: 52px;
    padding-right: 15px;
  }
.price-controls input {
    width: 50px;
    margin: 0;

    color: inherit;
    font: inherit;

    background: none;
    border: none;
  }
.range-controls {
    position: relative;

    margin-bottom: 32px;
  }
.range-controls .scale {
    height: 2px;

    background: rgba(255, 255, 255, 0.3);
  }
.range-controls .bar {
    width: 80%;
    height: 2px;

    background: #ffffff;
  }
.range-toggle {
    position: absolute;
    top: -9px;

    width: 4px;
    height: 4px;

    background: #ababab;
    border: 8px solid #ffffff;
    border-radius: 50%;
    -webkit-box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
            box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
    cursor: pointer;
  }
.range-toggle:hover {
    background: #1c4f80;
  }
.range-toggle-min {
    left: 0;
  }
.range-toggle-max {
    left: 80%;
  }
.filter-input {
    font: inherit;
    color: #ffffff;

    background-color: transparent;
  }
.filter-input-checkbox:disabled {
    color: #6a6a6a;
  }
.filter-button {
    display: block;
    margin-left: 85px;
    padding: 6px 33px;
  
    font-size: 14px;
    line-height: 20px;
    color: #ffffff;
    text-transform: uppercase;
  
    background: transparent;
    border: 2px solid #ffffff;
    border-radius: 2px;
    cursor: pointer;
  }
.filter-button:focus,
.filter-button:hover {
    color: #000000;

    background-color: #ffffff;
  }
.sorting {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;

    max-width: 1200px;
    padding: 8px 72px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  }
.sort {
    min-width: 80px;
    margin-right: auto;
    padding: 0 15px;

    font-size: 12px;
    line-height: 18px;
  }
.sorting-results {
    min-width: 118px;
    padding: 0 30px;
    padding-left:0; 

    line-height: 26px;
    font-size: 21px;
    color: #000000;
  }
.sorting-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; 
    -webkit-box-align: center; 
        -ms-flex-align: center; 
            align-items: center;

    width: 100%;
    margin-left: 20px;
    padding: 0;
  }
.sorting-item {
    padding-right:33px;
  }
.sorting-item:nth-child(3) {
    margin-right: auto;
  }
.sorting-item:nth-child(4),
.sorting-item:nth-child(5) {
    padding: 0 4px;
}
.sorting-icon {
    fill: rgba(0, 0, 0, 0.3);
    -webkit-transition: all 0.10s linear;
    -o-transition: all 0.10s linear;
    transition: all 0.10s linear;
  }
.sorting-icon:hover,
.sorting-icon:focus {
    fill: #000000;
  }
.sorting-icon:active,
.sorting-icon-current {
    fill: #81b3d2;
  }
.sorting-item a {
    line-height: 18px;
    font-size: 12px;
    color: rgba(0, 0, 0, 0.3);
    -webkit-text-decoration: underline dotted #81b3d2;
            text-decoration: underline dotted #81b3d2;
    -webkit-transition: all 0.10s linear;
    -o-transition: all 0.10s linear;
    transition: all 0.10s linear;
  }
.sorting-item a:hover,
.sorting-item a:focus {
    color:#81b3d2;
    -webkit-text-decoration: underline dotted #81b3d2;
            text-decoration: underline dotted #81b3d2;
  }
.sorting-item a:active {
    color:#000000;
    text-decoration: none;
  }
.sorting-item-current a {
    color: #81b3d2;
    text-decoration: none;
  }
.sorting-list,
.results-list {
    list-style: none;
  }
.results-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;

    max-width: 1200px;
    min-height:450px;
    margin: 0;
    padding: 0 72px;
  }
.result-item {
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;

    width:100%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    padding: 27px 72px;
  }
.result-wrap {
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;

    width: 280px;
    margin-left:30px;
    margin-right: auto;
    padding: 0;
  }
.result-wrap a {
    margin-bottom: 5px;
  }
.result-item h3 {
    margin: 0;
    padding: 0px;

    font-weight: bold;
    font-size: 21px;
    line-height: 26px;
    color: #000000;
    -webkit-transition: all 0.10s linear;
    -o-transition: all 0.10s linear;
    transition: all 0.10s linear;
  }
.result-item h3:hover,
.result-item h3:focus {
    color:#81b3d2;
  }
.result-item h3:active {
    color: rgba(0, 0, 0, 0.3);
  }
.result-item .rate {
    color:#666666;

    background-color: #f2f2f2;
  }
.text-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;

    min-width: 176px;
    margin: 0;
    margin-bottom: 13px;
  }
.text-wrapper span {
    min-width: 116px;
}
.rate-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    
    min-width: 105px;
    height: 95px;
  }
.rate {
    padding:5px 15px;
  }
.stars {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
.star {
    content: "";

    width: 19px;
    height: 19px;
    margin-left: 5px;
  
    background-color: white;
    background-image: url("../img/svg/star.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
  }
.button-wrapper {
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;

    margin: 0;
  }
.button-booking {
    margin-left: 7px;
    padding:3px 16px;

    background-color: #766357;
    -webkit-transition: all 0.10s linear;
    -o-transition: all 0.10s linear;
    transition: all 0.10s linear;
  }
.button-more {
    padding:3px 16px;
  }
.button-booking:hover,
.button-booking:focus {
    background-color: #604e43;
  }
.button-booking:active {
    color: #857871;
    
    background-color: #503e33;
  }