body {
    margin: 0;
    padding: 0;
  
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    color: #333333;
    text-transform: uppercase;
    
    background-color: #ffffff;
  }
a {
    text-decoration: none;
  }
.main-navigation {
    line-height: 26px;
    font-weight: bold;
    color: #000000;
  
    background-color: #ffffff;
  }
.site-navigation {
    list-style: none;
  }
.site-navigation a {
    color: #000000;
    text-align: center;
    transition: all 0.10s linear;
  }
.site-navigation a:hover,
.site-navigation a:focus {
    color: #81b3d2;
  }
.site-navigation a:active {
    color: rgba(0, 0, 0, 0.3);
  }
.site-navigation-current a {
    color: #766357;
  }
.city-view {
    background-image: url("../img/index-sedona.jpg");
    background-position: top center;
    background-repeat: no-repeat;
  }
.description {
    text-align: center;
    line-height: 26px;
  }  
.description b {
    font-size: 21px;
    font-weight: bold;
    color: #000000;
  }
.features-list,
.guideline-list {
    list-style: none;
  }
.feature-item .caption {
    text-align: center;
    color: #ffffff;

    background-color: #81b3d2;
  } 
.feature-item .caption h3 {
    font-size: 21px;
    font-weight: bold;
    color: #ffffff;
  }
.guideline-item {
    text-align: center;
  }
.guideline-item h4 {
    font-size: 21px;
    font-weight: bold;
    color: #000000;
  }
.feature-item {
    text-align: center;
  
    background-color: #eeeeee;
  } 
.feature-item h3 {
    font-size: 21px;
    font-weight: bold;
    color: #000000;
  }
.search {
  text-align: center;
  }
.search b {
    font-size: 30px;
    font-weight: bold;
    color: #000000;
  }
.button {
    font: inherit;
    text-align: center;
    font-weight: bold;
    color: #ffffff;
    vertical-align: middle;
    text-transform: uppercase;
    transition: all 0.10s linear;

    background-color: #81b3d2;
    border: none;
  }
.button:hover,
.button:focus {
    background-color: #669ec0;
  }
.button:active {
    background-color: #5496bd;
    color:rgba(255, 255, 255, 0.3);
  }
.search-button {
    font-size: 21px;
    line-height: 26px;
    transition: all 0.10s linear;

    background-color: #766357;
  }
.search-button:hover,
.search-button:focus {
    background-color: #604e43;
  }
.search-button:active {
    background-color: #503e33;
    color:rgba(255, 255, 255, 0.3);
  }
.search-option {
    color: #000000;
    line-height: 26px;
  }
.search-option input {
    font: inherit;
    color: #000000;
    transition: all 0.10s linear;

    background-color: #f2f2f2;
  }
.search-option input:hover {
    background-color: #ebebeb;
  }
.search-option input:focus {
    background-color: #ffffff;
    border: 5px solid #ebebeb;
  }
.search-button-submit {
    line-height: 26px;
    font-size: 21px;
  }
.main-footer {
    color: #000000;
    line-height: 26px;

    background-color:rgba(250, 250,250, 0.9);
  }
.main-footer strong {
    font-size: 21px;
    font-weight: bold;
    text-align: center;
  }
.footer-social {
    text-align: center;
  }
.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
  }
.row {
    display: flex;
  }
.social-button {
    margin-left: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 43px;
    height: 43px;
    transition: all 0.10s linear;
  }
.social-icon {
    fill: #ffffff;
    transition: all 0.10s linear;
  }
.social-button:active .social-icon {
    fill: rgba(255, 255, 255, 0.3);
}
.footer-social ul {
    list-style: none;
  }
.logo-htmlacademy {
    fill: #231f20;
    transition: all 0.10s linear;
  }
.logo-htmlacademy:hover,
.logo-htmlacademy:focus {
   fill: #81b3d2;
  }
.logo-htmlacademy:active {
    fill: #bdbbbc;
  }
.filters {
    color: #ffffff;
  
    background-color: #766357;
    background-image: url("../img/background-sedona.jpg");
    background-position: top center;
    background-repeat: no-repeat;
  }
.filters fieldset {
    border: none;
  }
.filters legend {
    font-size: 16px;
    font-weight: bold;
  }
.filters ul {
    list-style: none;
  }
.filters label {
  cursor: pointer;
}
.filter-price {
    background-color:transparent;
    font-weight: normal;
  }
.filter-input {
    font: inherit;
    color: #ffffff;

    background-color: transparent;
  }
.filter-input-checkbox:disabled {
    color: #6a6a6a;
  }
.filter-button {
    text-align: center;
    background-color: transparent;
  }
.filter-button:focus,
.filter-button:hover {
    color: #000000;
    background-color: #ffffff;
  }
.sorting-results {
    line-height: 26px;
    font-size: 21px;
    color: #000000;
  }
.sorting-list,
.results-list {
    list-style: none;
  }
.sorting-item a {
    line-height: 18px;
    font-size: 12px;
    color: rgba(0, 0, 0, 0.3);
    text-decoration: underline dotted #81b3d2;
    transition: all 0.10s linear;
  }
.sorting-item a:hover,
.sorting-item a:focus {
    color:#81b3d2;
    text-decoration: underline dotted #81b3d2;
  }
.sorting-item a:active {
    color:#000000;
    text-decoration: none;
  }
.sorting-item-current a {
    color: #81b3d2;
    text-decoration: none;
  }
.result-item h3 {
    font-weight: bold;
    font-size: 21px;
    line-height: 26px;
    color: #000000;
    transition: all 0.10s linear;
  }
.result-item h3:hover,
.result-item h3:focus {
    color:#81b3d2;
  }
.result-item h3:active {
    color: rgba(0, 0, 0, 0.3);
  }
.result-item .rate {
    color:#666666;
    background-color: #f2f2f2;
  }
.button-booking {
    background-color: #766357;
    transition: all 0.10s linear;
  }
.button-booking:hover,
.button-booking:focus {
    background-color: #604e43;
  }
.button-booking:active {
    color: #857871;
    background-color: #503e33;
  }