body {
    margin: 0;
    padding: 0;
  
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    color: #333333;
    text-transform: uppercase;
    
    background-color: #f2f2f2;

    position: relative;
  }
a {
    text-decoration: none;
  }
img {
    max-width: 100%;
    height: auto;
  }
.main-header {
max-width: 1200px;
}
.main-header.index-header {
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    margin: auto;
    box-sizing: border-box;
    z-index: 1;
}
.main-navigation {
    line-height: 26px;
    font-weight: bold;
    color: #000000;
    background-color: #ffffff;
    display: flex;
    position: relative;
  }
.container {
    margin:0 auto;
    max-width:1200px;
    background-color: #ffffff;
    box-shadow: 0 0 8px 2px #a9a9a9;
  }
.main-header-logo {
    width: 138px;
    height: 70px;
    position: absolute;
    top: 0;
    left: 50%;
    margin-left:-69px; 
    z-index: 1;
  }
.site-navigation {
    margin:0 auto;
    width: 1200px;
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding: 0;
  }
.site-navigation-item {
    min-width: 73px;
    max-width: 239px;
    padding:15px 73px;
  }
.site-navigation-item:nth-child(2) {
    margin-right:auto; 
  }
  .site-navigation-item:nth-child(3) {
    margin-right:15px; 
  }
.site-navigation-item:nth-child(1)
.site-navigation-item:nth-child(2) {
  text-align: start;
}
.site-navigation-item:nth-child(3)
.site-navigation-item:nth-child(4) {
  text-align: end;
}
.site-navigation a {
    color: #000000;
    text-align: center;
    transition: all 0.10s linear;
  }
.site-navigation a:hover,
.site-navigation a:focus {
    color: #81b3d2;
  }
.site-navigation a:active {
    color: rgba(0, 0, 0, 0.3);
  }
.site-navigation-item-current a {
    color: #766357;
  }
.city-view {
    background-image: url("../img/index-sedona.jpg");
    background-position: top center;
    background-repeat: no-repeat;
    width: 100%;
    min-height: 780px;
    display: flex;
    padding: 0;
    position: relative;
  }
.city-view img {
    margin: auto;
    margin-top: 90px;   
    padding: 40px;  
  }
.city-view::before {
  content: "";
  background-image: url("../img/frame.png");
    background-position: 0 0;
    background-repeat: no-repeat;
    min-height:273px ;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
}
.description {
    background-color:transparent;
    text-align: center;
    line-height: 26px;
    min-height: 275px;
    display: flex;  
    position: relative;
  }  
.description-container {
    margin: auto; 
    width: 540px;
    padding: 30px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
  }
.caption-container {
    margin: auto; 
    width: 540px;
    padding: 30px;
}
.description b {
    font-size: 21px;
    font-weight: bold;
    color: #000000;
    margin: 25px 0;
    display: block;
  }
.features-list,
.guideline-list {
    list-style: none;   
    margin: 0;
    padding: 0;
  }
.features-list {
    display: flex;
    flex-direction: column;
    max-width: 1200px;
  }
.feature-item-wrapper {
    max-width: 1200px;
    padding: 0;
    display: flex;
    align-items: center;
  }
.feature-item.feature-item-large {
    text-align: center;
    color: #ffffff;
    padding:30px 40px;
    background-color: #81b3d2;
    margin: 0;
    width: 320px;
    min-height: 196px;
  }
.feature-item-wrapper .img-wrap {
    height:256px ;
    width: 800px;
    overflow: hidden;
  }
.feature-item.feature-item-large h3 {
    font-size: 21px;
    font-weight: bold;
    color: #ffffff;
  }
.guideline-list {
    display: flex;
    min-height:330px;
    justify-content: space-between;
    background-color: white;
    margin:0;
    align-items: baseline;
    width:100%;
  }
.guideline-item {
    text-align: center;
    width: 33.3333%;
    min-height: 120px;
    padding: 50px;
    padding-top: 135px;
    position: relative;
  }
.guideline-item-housing::before {
    content: "";
    position: absolute;
    top:95px;
    left:50%;
    margin: -37px;
    width: 75px;
    height: 75px;
    
    background-color: white;
    background-image: url("../img/svg/icon-1.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
  }
  .guideline-item-food::before {
    content: "";
    position: absolute;
    top:95px;
    left:50%;
    margin: -37px;
    width: 75px;
    height: 75px;
    
    background-color: white;
    background-image: url("../img/svg/icon-3.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
  }
.guideline-item-souvenirs::before {
    content: "";
    position: absolute;
    top:95px;
    left:50%;
    margin: -37px;
    width: 75px;
    height: 75px;
    
    background-color: white;
    background-image: url("../img/svg/icon-2.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
  }
.guideline-item h4 {
    font-size: 21px;
    font-weight: bold;
    color: #000000;
  }
.feature-item {
    text-align: center;
  
    background-color: #eeeeee;
  } 
.feature-item h3 {
    font-size: 21px;
    font-weight: bold;
    color: #000000;
    text-align: center;
  }
.features-list-small {
    width: 100%;
    min-height: 256px;
    display: flex;
    justify-content: space-between;
    background-color: #eeeeee;
    list-style: none;
    padding: 0;
  }
.feature-item-small {   
    padding: 30px 80px;
    width: 33.3333%;
  }
.search {
    text-align: center;
    min-height: 290px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
.search b {
    font-size: 30px;
    font-weight: bold;
    color: #000000;
    margin: 30px 0;
    display: block;
  }
.button {
    display: inline-block;
    padding: 10px 30px;
    font: inherit;
    text-align: center;
    font-weight: bold;
    color: #ffffff;
    vertical-align: middle;
    text-transform: uppercase;
    transition: all 0.10s linear;
   
    background-color: #81b3d2;
    border: none;
  }
.button:hover,
.button:focus {
    background-color: #669ec0;
  }
.button:active {
    background-color: #5496bd;
    color:rgba(255, 255, 255, 0.3);
  }
.search-button {
    font-size: 21px;
    line-height: 26px;
    transition: all 0.10s linear;
    max-width: 576px;
    padding: 30px 143px;

    background-color: #766357;
  }
.search-button:hover,
.search-button:focus {
    background-color: #604e43;
  }
.search-button:active {
    background-color: #503e33;
    color:rgba(255, 255, 255, 0.3);
  }
.map {
    position: relative;
    max-width: 1200px;
    overflow: hidden;
    height: 590px;
  }
.modal-search {
    position: absolute;
    top:0;
    left:50%;
    margin-left: -288px;
    background-color: white;
    max-width: 576px;
    display: flex;
  }
.hotel-search {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 55px 60px;
  }
.search-option {
    color: #000000;
    line-height: 26px;
    font-weight: bold; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
  }
.search-input {
    font: inherit;
    color: #000000;
    transition: all 0.10s linear;
    outline: none;
    background-color: #f2f2f2;
    height: 40px;
    border:2px solid #f2f2f2;
    width: inherit;
    flex-grow: 1;
    text-transform: uppercase;
  }
.search-input:hover {
    background-color: #ebebeb;
    border:2px solid #ebebeb;
  }
.search-input:focus {
    background-color: #ffffff;
    border: 2px solid #ebebeb;
  }
.search-input:active {
  border:2px solid #ebebeb;
}
.search-option-large {
    width: 460px;
    width: 100%;
    max-height: 40px;
    margin:0;
    margin-bottom: 28px;
  }
.search-option-small {
    min-width: 182px;
    max-height: 40px;
    margin:0;
    margin-bottom: 28px;
  }
.search-option-large input {
    box-sizing: border-box;
    width: 346px;
    padding:10px;
    padding-right:50px;
  }
  .search-option-small input {
    width: 115px;
    box-sizing: border-box;
    padding:10px 50px;
  } 
.search-option-large svg {
    position: absolute;
    right: 12px;
    top: 10px;
}
.search-option-large svg path {
    fill: #a9a9a9;
    transition: all 0.10s linear;
  }
.search-option-large input:hover ~ svg path,
.search-option-large input:focus ~ svg path {
    fill: #000000;
}
.search-option-large input:active ~ svg path {
    fill:#81b3d2;
  }
  .search-row {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
 .label-row { 
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
 }
.search-name {
  margin-right: 15px;
}
.search-option-small:first-of-type .search-name {
  margin-right: 40px;
}
.number-btn {
  position: absolute;
  width: 30px;
  height: 100%;
  top: 0;
  border:none;
  background-color:inherit;
}
.number-btn::before {
    content: "";
    width: 11px;
    height: 3px;
    position: absolute;
    top: 50%;
    background-color: #a9a9a9;
    left: 10px;
}
.number-btn.plus::after {
    content: ""; 
    width: 3px;
    height: 11px;
    position: absolute;
    top: 16px;
    background-color: #a9a9a9;
    left: 14px;
}
.number-btn.minus {
  left: 0;
}
.number-btn.plus {
  right: 0;
}
  .search-option-small .number-btn:hover~.number-btn::before,
  .search-option-small .number-btn:focus~.number-btn::before,
  .search-option-small .number-btn:hover~.number-btn::after,
  .search-option-small .number-btn:focus~.number-btn::after {
    background-color: #000000; 
  }
  .search-option-small .number-btn:active~.number-btn::before,
  .search-option-small .number-btn:active~.number-btn::after {
    background-color:#81b3d2;
    }
.search-button-submit {
      width: 100%;
      line-height: 26px;
      font-size: 21px;
      margin-top: 20px;
      padding: 15px;
  }
.main-footer {
    color: #000000;
    line-height: 26px;
    background-color:rgba(250, 250,250, 0.9);
    min-height:120px;
    max-width: 1200px;
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 80px;
  }
.main-footer.index-footer {
  position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    box-sizing: border-box;
}
.main-footer strong {
    font-size: 21px;
    text-align: center;
  }
.footer-visit {
    display: block;
    margin: 0;
    margin-left:50px;
  }
.footer-social {
    text-align: center;
    width: 150px;
    margin-left: 30px;
  }
.footer-copyright {
    margin: 0;
    margin-right: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 200px;
  }
.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
    position: absolute;

    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;

    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
.social-button {  
    display: flex;
    align-items: center;
    justify-content: center;
    width: 46px;
    height: 48px;
    padding: 0;
    transition: all 0.10s linear;
  }
.social-icon {
    fill: #ffffff;
    transition: all 0.10s linear;
  }
.social-button:active .social-icon {
    fill: rgba(255, 255, 255, 0.3);
}
.social-list {
    list-style: none;
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
  }
.logo-htmlacademy {
    fill: #231f20;
    transition: all 0.10s linear;
  }
.logo-htmlacademy:hover,
.logo-htmlacademy:focus {
    fill: #81b3d2;
  }
.logo-htmlacademy:active {
    fill: #bdbbbc;
  }
.filters {
    color: #ffffff;
  
    background-color: #766357;
    background-image: url("../img/background-sedona.jpg");
    background-position: top center;
    background-repeat: no-repeat;
    width: 100%;
    max-height: 218px;
  }
  .filters-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 73px;
  }
.filters fieldset {
    border: none;
    margin: 0;
    padding: 0;
  }
  .filters fieldset:nth-child(1) {
    margin-right:120px;
  }
.filters fieldset:nth-child(2) {
    margin-right: auto;
  }
.filters legend {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 15px;
  }
.filters ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
.filters label {
    cursor: pointer;
  }
.filter-option {
  margin-bottom: 25px;
  }
.checkbox-label {
    position: relative;
    padding-left: 40px;
  }
.checkbox-label input[type="checkbox"] + .checkbox-indicator {
    position: absolute;
    background-image: url("../img/svg/checkbox-off.svg");
    background-position:  0 0;
    background-repeat:  no-repeat;
    width: 25px;
    height: 25px;
    top:0px;
    left:0;
  }
.checkbox-label input[type="checkbox"]:checked + .checkbox-indicator {
    position: absolute;
    background-image: url("../img/svg/checkbox-on.svg");
    background-position:  0 0;
    background-repeat:  no-repeat;
    width: 25px;
    height: 25px;
    top:0px;
    left:0;
  }
  .checkbox-label input[type="checkbox"]:disabled + .checkbox-indicator {
    position: absolute;
    background-image: url("../img/svg/checkbox-off-disabled.svg");
    background-position:  0 0;
    background-repeat:  no-repeat;
    width: 25px;
    height: 25px;
    top:0px;
    left:0;
  }
.checkbox-label input[type="checkbox"]:checked:disabled + .checkbox-indicator {
    position: absolute;
    background-image: url("../img/svg/checkbox-on-disabled.svg");
    background-position:  0 0;
    background-repeat:  no-repeat;
    width: 25px;
    height: 25px;
    top:0px;
    left:0;
  }
.filter-range {
    background-color:transparent;
    font-weight: normal;
  }
.price-controls {
    position: relative;
    height: 36px;
    margin-bottom: 20px;
    font-size: 0;
    border: 2px solid #ffffff;
    border-radius: 2px;
  }
.price-controls::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;

    width: 2px;
    height: 22px;
  
    background: #ffffff;
    transform: translate(-50%, -50%);
  }  
.price-controls label {
    display: inline-block;
  
    font-size: 14px;
    line-height: 38px;
    vertical-align: top;
  
    cursor: pointer;
  }
.price-controls .min-price,
.price-controls .max-price {
    width: 90px;
    padding-left: 65px;
  }
.price-controls input {
    width: 50px;
    margin: 0;

    color: inherit;
    font: inherit;

    background: none;
    border: none;
  }
.range-controls {
    position: relative;

    margin-bottom: 32px;
  }
.range-controls .scale {
    height: 2px;

    background: rgba(255, 255, 255, 0.3);
  }
.range-controls .bar {
    width: 80%;
    height: 2px;

    background: #ffffff;
  }
.range-toggle {
    position: absolute;
    top: -9px;

    width: 4px;
    height: 4px;

    background: #ababab;
    border: 8px solid #ffffff;
    border-radius: 50%;
    box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
    cursor: pointer;
  }
.range-toggle:hover {
    background: #1c4f80;
  }
.range-toggle-min {
    left: 0;
  }
.range-toggle-max {
    left: 80%;
  }
.filter-input {
    font: inherit;
    color: #ffffff;

    background-color: transparent;
  }
.filter-input-checkbox:disabled {
    color: #6a6a6a;
  }
.filter-button {
    display: block;
    margin: 0 auto;
    padding: 6px 35px;
  
    font-size: 14px;
    line-height: 20px;
    color: #ffffff;
    text-transform: uppercase;
  
    background: transparent;
    border: 2px solid #ffffff;
    border-radius: 2px;
    cursor: pointer;
  }
.filter-button:focus,
.filter-button:hover {
    color: #000000;
    background-color: #ffffff;
  }
.sorting {
    display: flex;
    max-width: 1200px;
    justify-content: space-around;
    align-items: center;
    padding: 10px 73px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  }
.sort {
    font-size: 12px;
    line-height: 18px;
    margin-right: auto;
    padding: 0 20px;
    min-width: 80px;
  }
.sorting-results {
    line-height: 26px;
    font-size: 21px;
    color: #000000;
    min-width: 118px;
    padding: 0 30px;
    padding-left:0; 
  }
.sorting-list {
    display: flex;
    width: 100%;
    justify-content: space-between; 
    padding: 0;
    align-items: center;
  }
.sorting-item {
    padding: 0 10px;
  }
.sorting-item:nth-child(3) {
    margin-right: auto;
  }
.sorting-item:nth-child(4),
.sorting-item:nth-child(5) {
    padding: 0 5px;
}
.sorting-icon {
    fill: rgba(0, 0, 0, 0.3);
    transition: all 0.10s linear;
  }
.sorting-icon:hover,
.sorting-icon:focus {
    fill: #000000;
  }
.sorting-icon:active,
.sorting-icon-current {
    fill: #81b3d2;
  }
.sorting-item a {
    line-height: 18px;
    font-size: 12px;
    color: rgba(0, 0, 0, 0.3);
    text-decoration: underline dotted #81b3d2;
    transition: all 0.10s linear;
  }
.sorting-item a:hover,
.sorting-item a:focus {
    color:#81b3d2;
    text-decoration: underline dotted #81b3d2;
  }
.sorting-item a:active {
    color:#000000;
    text-decoration: none;
  }
.sorting-item-current a {
    color: #81b3d2;
    text-decoration: none;
  }
.sorting-list,
.results-list {
    list-style: none;
  }
.results-list {
    display: flex;
    max-width: 1200px;
    min-height:450px;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 0 73px;
    margin: 0;
  }
.result-item {
    display:flex;
    width:100%;
    min-height:150px;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    padding: 0 73px;
  }
.result-item .img-wrap {

  }
.result-item img {
    display: inline-block;
  }
.result-wrap {
    width: 280px;
    display:flex;
    flex-direction: column;
    margin-left:30px;
    margin-right: auto;
    padding: 0;
    align-items: flex-start;
  }
.result-wrap p {
    margin: 0;
  }
.rate-wrap {
    display: flex;
    flex-direction: column;
    height: 95px;
    justify-content: space-between;
    align-items: flex-end;
    min-width: 105px;
  }
.rate {
    padding:5px 10px;
  }
.stars {
    display: flex;
  }
.star {
    content: "";
    width: 19px;
    height: 19px;
    margin-left: 5px;
  
    background-color: white;
    background-image: url("../img/svg/star.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
  }
.button-wrapper {
    display:flex;
    margin: 0;
    justify-content: space-between;
  }
.result-item p {
    display: flex;
    margin-bottom: 10px;
    width: 190px;
    justify-content: space-between;
  }
.result-item h3 {
    font-weight: bold;
    font-size: 21px;
    line-height: 26px;
    color: #000000;
    transition: all 0.10s linear;
    padding: 0px;
    margin: 0;
  }
.result-item h3:hover,
.result-item h3:focus {
    color:#81b3d2;
  }
.result-item h3:active {
    color: rgba(0, 0, 0, 0.3);
  }
.result-item .rate {
    color:#666666;
    background-color: #f2f2f2;
  }
.button-booking {
    background-color: #766357;
    transition: all 0.10s linear;
    padding:5px 15px;
    margin-left: 10px;
  }
.button-more {
  padding:5px 15px;
  }
.button-booking:hover,
.button-booking:focus {
    background-color: #604e43;
  }
.button-booking:active {
    color: #857871;
    background-color: #503e33;
  }